---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const res = await fetch("https://lemonpunch.spaarple.fr/wp-json/wp/v2/posts?_embed");
    const posts = await res.json();

    return posts.map((post) => {
        const categorySlug = post._embedded['wp:term'][0][0].slug;
        return {
            params: {
                category: categorySlug,
                slug: post.slug
            },
            props: { post },
        };
    });
}

const { post } = Astro.props;
---
<Layout title={post.title.rendered}>
    <article>
        <h1 set:html={post.title.rendered}></h1>
        <Fragment set:html={post.content.rendered} />
    </article>
</Layout>