---
import GroupLemonPunch from '../../assets/images/lmp-color-about.jpg';
---

<section class="about-section" id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h2 class="section-title">À propos de Lemon Punch</h2>
                <p>LemonPunch est un groupe français d'électro-pop qui mélange des sonorités modernes avec une énergie live explosive. Formé de trois musiciens passionnés, le groupe propose un univers musical unique, coloré et énergique.</p>
                <p>Avec des influences allant de la pop française aux beats électroniques contemporains, LemonPunch crée une atmosphère festive et engageante qui fait danser les foules dans toute la France.</p>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="about-image">
                <img src={GroupLemonPunch.src}
                     alt="LemonPunch Band Photo"
                     title="LemonPunch Band Photo"
                     class="about-photo">
            </div>
        </div>
    </div>
</section>