---
import Layout from "../layouts/Layout.astro";

// 1. Ajouter ?_embed à la fin de l'URL de l'API

const res = await fetch(`https://lemonpunch.spaarple.fr/wp-json/wp/v2/posts?_embed`);

const posts = await res.json();
---
<Layout title="Dinos!">
      <section>
            <h1>List of Dinosaurs</h1>
            {
                  posts.map((post) => {
                        // On récupère le slug de la première catégorie de l'article
                        const categorySlug = post._embedded['wp:term'][0][0].slug;

                        return (
                            <article>
                                  <h2>
                                        {/* 2. Construire le lien avec le slug de la catégorie et le slug de l'article */}
                                        <a href={`/${categorySlug}/${post.slug}/`} set:html={post.title.rendered} />
                                  </h2>
                                  <Fragment set:html={post.content.rendered} />
                            </article>
                        )
                  })
            }
      </section>
</Layout>