---
import Shop from "../../components/sections/Shop.astro";
import Contact from "../../components/sections/Contact.astro";
import Layout from "../../layouts/Layout.astro";

---
<Layout title="E-boutique LemonPunch">
    <Shop />
    <Contact/>
    <div class="newsletter-trigger" id="newsletterTrigger">
        <i class="fas fa-envelope"></i>
        <span>Newsletter</span>
    </div>
</Layout>