---

---

<div class="newsletter-modal" id="newsletterModal">
    <div class="newsletter-modal-content">
        <button class="newsletter-modal-close" id="closeNewsletterModal">&times;</button>
        <div class="newsletter-modal-header">
            <h3>Newsletter LemonPunch</h3>
            <p>Restez informés de nos nouveautés et concerts !</p>
        </div>
        <form class="newsletter-form" id="newsletterForm">
            <div class="newsletter-form-group">
                <input type="text" placeholder="Votre prénom" id="newsletterName" required>
            </div>
            <div class="newsletter-form-group">
                <input type="email" placeholder="Votre email" id="newsletterEmail" required>
            </div>
            <button type="submit" class="btn-newsletter">S'inscrire</button>
        </form>
    </div>
</div>
